<form [formGroup]="sideBarFormGroup" #formDirective="ngForm" class="sideBarForm"
    (ngSubmit)='onSubmit(sideBarFormGroup, formDirective)'>
    <div class="formInputsBlock">
        <mat-form-field appearance="outline">
            <mat-label>Your Name</mat-label>
            <input type="text" matInput formControlName="name" required>
            <mat-error *ngIf="sideBarFormGroup.controls.name.touched && sideBarFormGroup.controls.name.invalid">
                <span *ngIf="sideBarFormGroup.controls.name.hasError('required')">Require error</span>
                <span *ngIf="sideBarFormGroup.controls.name.hasError('pattern')">Pattern error</span>
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Your Scenario Comment</mat-label>
            <textarea formControlName="comment" matInput rows="5"></textarea>
        </mat-form-field>
    </div>
    <button mat-raised-button color="primary" type="submit" [disabled]="!sideBarFormGroup.valid">ADD</button>
</form>