<form [formGroup]="sideBarFormGroup" #formDirective="ngForm" class="sideBarForm"
    (ngSubmit)='onSubmit(sideBarFormGroup, formDirective)'>
    <div class="formInputsBlock">
        <mat-form-field appearance="outline" style="display: none;">
            <mat-label>Id</mat-label>
            <textarea formControlName="id" matInput rows="1" ngModel="{{scenario ? scenario.id : ''}}"></textarea>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input type="text" matInput formControlName="name" ngModel="{{scenario ? scenario.name : null}}" required>
            <mat-error *ngIf="sideBarFormGroup.controls.name.dirty && sideBarFormGroup.controls.name.invalid">
                <span *ngIf="sideBarFormGroup.controls.name.hasError('required')">Require error</span>
                <span *ngIf="sideBarFormGroup.controls.name.hasError('pattern')">Pattern error</span>
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Comments</mat-label>
            <textarea formControlName="description" matInput rows="5" ngModel="{{scenario ? scenario.description : null}}"></textarea>
        </mat-form-field>
    </div>
    <div class="formBtn">
        <button mat-raised-button color="primary" type="submit" [disabled]="!sideBarFormGroup.valid">ADD</button>
    </div>
</form>