:host {
    width: 100%;
    display: flex;
}
.panel-toolbar {
    width: 100%;
    mat-toolbar {
        justify-content: flex-end;
    }
    a {
      color: #fff;
    }
}
.example-spacer {
    flex: 1 1 auto;
  }