<mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container [matColumnDef]="column" *ngFor="let column of tableColumns.slice(0, -2); index as i">
        <mat-header-cell *matHeaderCellDef>{{headers[i]}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{(column === "createdOn") ? (element[column] | date) : element[column]}}</mat-cell>
    </ng-container>

    <ng-container [matColumnDef]="'controlBar'">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let row">
            <div class="buttonsPanel" (click)="$event.stopPropagation()">
                <span>Is Enabled:&nbsp;</span>
                <mat-slide-toggle checked="true"></mat-slide-toggle>
                <button mat-icon-button aria-label="Edit button" (click)="getScenario(row.id)">
                    <mat-icon matTooltip="Edit" color="primary">create</mat-icon>
                </button>
                <button mat-icon-button aria-label="Delete button" (click)="deleteScenario(row)">
                    <mat-icon matTooltip="Delete" color="warn">delete_forever</mat-icon>
                </button>
            </div>
        </mat-cell>
    </ng-container>

    <ng-container [matColumnDef]="'arrow'">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let row">
            <span class="material-icons">
                arrow_forward_ios
            </span>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: tableColumns;" (click)="redirect(row.id)"></mat-row>
</mat-table>