:host {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
mat-drawer-container {
    width: 100%;
    height: 100%;
    margin-top: 64px;
    mat-drawer {
        background-color: #fff;
        width: 350px;
        padding: 1rem;
        .drawerHearder {
            padding: 5px;
            margin-bottom: 1rem;
            font-size: 1rem;
            font-weight: 500;
            text-align: center;
            text-transform: uppercase;
            color: #3f50b6;
        }
    }
    mat-drawer-content {
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: center;
    }
    button {
        display: block;
    }
}
