<mat-drawer-container>
    <mat-drawer #drawer>
        <div class="drawerHearder">
            <span>New Scenario:</span>
        </div>
            <app-side-bar-form [scenario]='scenariousTable.selectedScenario' (submit)="drawer.toggle()"></app-side-bar-form>
    </mat-drawer>
    <mat-drawer-content>
        <app-grid-toolbar (navToggle)="drawer.toggle(); scenariousTable.selectedScenario=null"></app-grid-toolbar>
        <app-table #scenariousTable (editClick)="drawer.toggle()"></app-table>
    </mat-drawer-content>
</mat-drawer-container>